body {background: #adadad;height: 4000px;}
img{display:block;max-width:100%;height:auto;}
.pull-right.inContentImg{margin-left: 10px;}
.pull-left.inContentImg{margin-right: 10px;}
.center-align{text-align: center;}

                      /**********HEADER STARTS**********/
.headerInner .navbar-default.navbar-fixed-top{padding: 15px 0px;margin-bottom: 0px;}
.navbar-default{
background:transparent;
background: rgba(33,53,64,0.59);
-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#96213540', EndColorStr='#96213540')';
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#96213540', EndColorStr='#96213540');
zoom: 1!important;
}
.navbar-default:nth-child(n) {filter:none}
.navbar-default{border-color:#213540;}
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-brand{padding: 10px 15px;}
                      /**********HEADER ENDS*********/

/**********Main Content STARTS*********/
.nojs .main-loading-wrapper{display:none;}
.main-loading-wrapper{position: fixed;top:0px;left:0px;right:0px;left:0px;height:100%;width:100%;background:#333333;z-index: 2000;}
.main-loading-wrapper img{display: inline-block;position: absolute;top:50%;left:50%;margin-left: -38px;margin-top:-38px;}
.Content-wrapper{overflow: hidden;}
.Content-wrapper .section {overflow: hidden;}
.Content-wrapper .section .sectionInner{padding-top:15px;padding-bottom: 15px;}
.Content-wrapper .section-1 {}


/******SECTION 1 STARTS***************/
.section.section-1{background: url(../images/dummy-image.jpg) no-repeat center 0px;}
.section-1-text-wrapper{ position: absolute;top: 50%;left: 50%;transform: translate(-50%,0);-ms-transform: translate(-50%,0);-webkit-transform: translate(-50%,0);text-align: center;color: #ffffff;width: 100%;opacity: 0.87;}
.section-1-anim-wrap{overflow: hidden;}
.section-1-main-text-anim-wrap{}
.section-1-sub-text-anim-wrap,.section-1-link-anim-wrap{position: relative;top: 50px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter:alpha(opacity=0);
opacity:0}
.section-1-sub-text {font-size: 1.6em;}
.section-1-link a{font-weight: bold;border-bottom: 1px solid #ececec;color: #fff;}
h1.section-1-main-text{margin:0px;}
.section-1-boxes-wrapper{ position: absolute;top: 100%;}
.section-1-boxes-wrapper .panel{margin-bottom: 0;background:background:transparent;background: rgba(255,255,255,0.7);
-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#b2ffffff', EndColorStr='#b2ffffff')';
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#b2ffffff', EndColorStr='#b2ffffff');
zoom: 1!important;;}
.section-1-boxes-wrapper .panel:nth-child(n){filter:none;}
/******SECTION 1 ENDS***************/


/******SECTION 2 STARTS***************/
.section .section-2-header{position: relative;}
.Content-wrapper .section.section-2{background:url(../images/dummy-image-1.jpg) no-repeat center 0px;color: #fff;}
.section .part{margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.35);padding: 10px;}
.section .part h3{margin-top: 0px;}
.section .part.fromLeft{position: relative;}
.section .part.fromRight{position: relative;}
/******SECTION 2 ENDS***************/


/******SECTION 3 STARTS***************/
.Content-wrapper .section.section-3{background:url(../images/dummy-image-2.jpg) no-repeat center 0px;background-size: cover;color:#DADADA;}
.Content-wrapper .section.section-3 .section-3-init-show{position: absolute;}
.Content-wrapper .section.section-3 .section-3-init-show .init-show-title, .Content-wrapper .section.section-3 .section-3-init-show .init-show-image{position:relative;}
.section-3 .section-3-main-content{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}
.section-3 .section-3-main-content .section-3-main-content-header{position: relative;}
.section-3 .section-3-main-content .panel{position: relative;top:70px;opacity: 0;color:#434A54;}
.section-3 .section-3-counters-wrapper{opacity: 0;}
.section-3 .section-3-counters-wrapper .counter p.counter-label{font-size: 1.5em;}
.section-3 .section-3-counters-wrapper .counter p.counter-text{font-size: 2.9em;}
/******SECTION 3 STARTS***************/


/******SECTION 4 STARTS***************/
.Content-wrapper .section.section-4{background:url(../images/dummy-image-3.jpg) no-repeat center 0px;color: #292929;background-size: cover;}
.section-4-stagger-rows-wrapper .stagger-row{clear:both;font-size: 1.4em;font-weight: bold;font-weight: bold;color: #e4e4e4;padding: 15px 5px;border-bottom: 2px solid #e4e4e4;background-color: rgba(0, 0, 0, 0.22);background:transparent;background: rgba(0,0,0,0.22);-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#38000000', EndColorStr='#38000000')';filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#38000000', EndColorStr='#38000000');zoom: 1!important;}
.section-4-stagger-rows-wrapper .stagger-row:nth-child(n) {filter:none}
.section-4 .section-4-main-content-header{color:#e4e4e4;}
.section-4-stagger-rows-wrapper .stagger-row p{margin-bottom: 0px;}

/******SECTION 4 STARTS***************/


/******SECTION 5 STARTS***************/
.Content-wrapper .section.section-5{background:url(../images/dummy-image-2.jpg) no-repeat center 0px;background-size: cover;color:#DADADA;}
.flip-container {perspective:1000px;-webkit-perspective:1000px;transform-style:preserve-3d;-mox-transform-style:preserve-3d;}
.flip-container:hover .flip-enabled .back {transform:rotateY(0deg); }
.flip-container:hover .flip-enabled .front {transform:rotateY(180deg); }
.flip-container, .front, .back {}
.flipper h3{margin-top:0px;}
.flipper {transition:0.6s;transform-style:preserve-3d;-moz-transform-style:preserve-3d;position:relative; transform-origin:top; position: relative;padding: 0px 15px;}
.front, .back {backface-visibility:hidden;transition:0.6s;-webkit-transition:0.6s;transform-style:preserve-3d;position:absolute; top: 0;left: 15px;background-color: #EFEFEF;right: 15px;padding: 0px 20px;transform-origin:top;color: #333333;padding-bottom: 20px;}
.front {position: relative;left: auto;right: auto;}
.flip-enabled .front, .flip-enabled .back{/*transform-origin:center;*/}
.flipper .front {z-index:2;transform:rotateY(0deg); }
.flipper .back{min-height: 100%;}
.back {transform:rotateY(-180deg); }
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {transform: rotateY(180deg);}
/******SECTION 5 ENDS***************/


/******SECTION 6 STARTS***************/
.section.section-6 .list-group{color:#6B6A6A;font-weight: bold;}
.section.section-6 .list-group-item.active{color:#fff}
.list-group-item:first-child {border-top-left-radius: 0px;border-top-right-radius: 0px;}
.list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.section-6-cards-container .last{margin-bottom: 0px;}
/******SECTION 6 ENDS***************/


/******SECTION 7 STARTS***************/
.section.section-7{background: #000;}
/******SECTION 7 ENDS***************/

/**********Main Content STARTS*********/
